/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 600px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #931420;
    background-color: #fffded;

}
/* the styles for the main */
main {
	padding-left: 30px;
	padding-right: 30px;
}
main h1{
	padding-top: 3em;
	padding-bottom: 3em;
}
main h1{
	padding-top: .5em;
	padding-bottom: .25em;
}
main h3 {
	padding-bottom: .25em;
}
main img {
	padding-bottom: 1em;
}
main p {
	padding-bottom: .5em;
}
main blockquote {
	padding-left: 2em;
	padding-bottom: 2em;
	font-style: italic;
}
main ul {
	padding-bottom: .25em;
	padding-left: 1.25em;

}
main li {
	padding-bottom: .35em;
}




/* the styles for the header */
header img {
	float: left;
	padding-right: 30px;
	padding-left: 30px;
}
header h2 {
	font-size: 170%;
	color: #800000
	padding-left:30px;

}
header h3 { 
	font-size: 130%;
}
header {
	padding-top: 1.5em;
	padding-bottom: 2em;
	border-bottom: 3px;
    border-color: #931420;
    background-color: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);

}

/* the styles for the section */
main {
	clear: left;
}
main h1{
	font-size:150%;
	border-bottom: 3px;
	border-top: 3px;
    border-color: #931420;
}

main h2 {
	font-size: 130%;
	color: #800000
}
main h3{
	font-size: 105%;
}
/* the styles for the footer */
footer p {
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	color: white;
}
footer {
	background-color: #931420;
}